<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SwanShare</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">
<link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/icofont/icofont.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/remixicon/remixicon.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">


<link href="{{ url_for('static', filename='css/style2.css') }}" rel="stylesheet">


<style>
  .custom-background {
      background-image:
      url_for("{{ url_for("static", filename='img/why-us.png') }}"); 
      background-size: cover;
  }
</style>



</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">SwanShare</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="#Home">Home</a></li>
          <li><a class="nav-link scrollto " href="#Connect">Connect</a></li>
          <li><a class="nav-link scrollto " href="#About">About</a></li>
          <li><a class="nav-link scrollto " href="#Services">Services</a></li>
          <li><a class="nav-link scrollto " href="#Technology Used">Technology Used</a></li>
          <li><a class="nav-link scrollto " href="#FAQs">FAQs</a></li>
          <li><a class="nav-link scrollto " href="#Contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center" style="height:100vh">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Safely share files through the power of blockchain.</h1>
          <h2>Our platform leverages asymmetric encryption and blockchain technology to ensure secure file sharing.</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#Connect" class="btn-get-started scrollto">Get Started</a>
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="{{ url_for('static', filename='img/hero-img.png') }}" class="img-fluid animated" alt="animated-text">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="Connect">
    <section id="featured-services" class="featured-services">
      <div class="container">
        <div class="row">
          <div class="columns col-md-1">
          </div>
          <div class="columns col-md-10">
            <div class="icon-box">
              <div class="icon"><i class="icofont-computer"></i></div>

              <h4 class="title">
                <a href="{{ url_for('connect_blockchain') }}">Connect to the blockchain</a>
              </h4>
              
              <p class="description">
                Get connected to the blockchain to start sharing files securely
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    

    <!-- ======= About Us Section ======= -->
    <section id="About" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Introduction</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              SwanShare is a cutting-edge peer-to-peer (P2P) file sharing application built on blockchain technology. With a focus on privacy, security, and efficiency, SwanShare allows users to directly share files with one another without relying on centralized servers. The app employs blockchain's decentralized nature to ensure that files are distributed securely and reliably.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i>Leverages blockchain to create a decentralized network of users, eliminating the need for intermediaries.</li>
              <li><i class="ri-check-double-line"></i>All shared files are encrypted for enhanced security, ensuring that only the intended recipient can access them.</li>
              <li><i class="ri-check-double-line"></i>Users can interact and share files pseudonymously, enhancing privacy and reducing exposure to centralized tracking.</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              SwanShare stands at the forefront of innovation as a groundbreaking peer-to-peer file sharing application that leverages the immense potential of blockchain technology. Its mission is to reshape the landscape of secure and efficient file sharing by introducing a paradigm shift in how individuals and entities exchange digital content. This transformative platform is intricately woven into a decentralized architecture, erasing the need for intermediaries and ushering in a new era of heightened privacy, unprecedented control, and remarkable speed in the file sharing process.

            </p>
            <a  href="#FAQs" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section>

    <!-- ======= Why Us Section ======= -->
    <section id="Services" class="why-us section-bg">
      <div class="container-fluid" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

            <div class="content">
              <h3>SwanShare <strong>OverView</strong></h3>
              <p>
                SwanShare is a decentralized application (DApp) built on blockchain technology and asymmetric cryptography. It provides a secure and transparent platform for users to share digital assets, documents, or information with others. The combination of blockchain and asymmetric cryptography ensures data security, transparency, and tamper resistance.
              </p>
            </div>

            <div class="accordion-list">
              <ul>
                <li>
                  <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> What services does SwanShare provide? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                    <p>
                      SwanShare provides a decentralized platform for securely sharing digital assets, documents, or information among users. It leverages blockchain technology and asymmetric cryptography to ensure the security, transparency, and tamper resistance of shared data.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> Are there any transaction fees associated with using SwanShare's services? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                    No, there are no transaction fees associated with using SwanShare's services. You can securely share  documents or information among users without incurring any additional costs for transactions. SwanShare leverages blockchain technology and asymmetric cryptography to ensure data security, transparency, and tamper resistance, while eliminating the need for transaction fees.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> Is user identity anonymous on SwanShare? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      Transactions and data are pseudonymous, linked to cryptographic addresses rather than real-world identities. However, user identity could be inferred through careful analysis. Users seeking enhanced privacy might adopt additional techniques.
                    </p>
                  </div>
                </li>

              </ul>
            </div>

          </div>

          <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("static/img/why-us.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>


        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Skills Section ======= -->
    <section id="Technology Used" class="skills" style=" padding-top:80px">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
            <img src="{{ url_for('static', filename='img/skills.png') }}" class="img-fluid" alt="">
            
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <h3>Technology Used</h3>
            

            <div class="skills-content">

              <li><strong>Blockchain Technology:</strong><br>
Blockchain serves as the foundational technology for SwanShare. It is a distributed and decentralized digital ledger that records transactions in a secure and transparent manner. 
</li><li><strong>Asymmetric Cryptography:</strong><br>
Asymmetric cryptography (also known as public-key cryptography) plays a crucial role in ensuring the security of shared information. 
</li><li><strong>Flask:</strong><br>
Flask is a micro web framework for Python that allows you to build web applications quickly and with minimal code. 
</li><li><strong>Threading:</strong><br>
Threading is a Python module that allows you to run multiple threads (smaller units of a program) concurrently within a single process. 
</li><li><strong>Socket.IO:</strong><br>
Socket.IO is a library that enables real-time, bidirectional communication between web clients and servers. 
</li>           </div>

          </div>
        </div>

      </div>
    </section><!-- End Skills Section -->

   
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3>Get Started</h3>
            <p> SwanShare where we leverage the power of cryptography and blockchain technology to provide you with a secure and efficient way to share files. Whether you're a business looking to protect sensitive documents or an individual seeking a reliable file-sharing solution, we've got you covered. </p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="{{ url_for('connect_blockchain') }}">Get Started</a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Portfolio Section ======= -->
    <!-- <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">App</li>
          <li data-filter=".filter-card">Card</li>
          <li data-filter=".filter-web">Web</li>
        </ul>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="{{ url_for('static', filename='img/portfolio/portfolio-1.jpg') }}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>App 1</h4>
              <p>App</p>
              <a href="{{ url_for('static', filename='img/portfolio/portfolio-1.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1">
                <i class="bx bx-plus"></i>
              </a>
              
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="{{ url_for('static', filename='img/portfolio/portfolio-2.jpg') }}" class="img-fluid" alt="">
            </div>
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <a href="{{ url_for('static', filename='img/portfolio/portfolio-2.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="{{ url_for('static', filename='img/portfolio/portfolio-3.jpg') }}" class="img-fluid" alt="">
            </div>
            <div class="portfolio-info">
              <h4>App 2</h4>
              <p>App</p>
              <a href="{{ url_for('static', filename='img/portfolio/portfolio-3.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2">
                <i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="{{ url_for('static', filename='img/portfolio/portfolio-4.jpg') }}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Card 2</h4>
              <p>Card</p>
              <a href="{{ url_for('static', filename='img/portfolio/portfolio-4.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2">
                <i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="{{ url_for('static', filename='img/portfolio/portfolio-5.jpg') }}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Web 2</h4>
              <p>Web</p>
              <a href="{{ url_for('static', filename='img/portfolio/portfolio-4.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2">
                <i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="{{ url_for('static', filename='img/portfolio/portfolio-6.jpg') }}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>App 3</h4>
              <p>App</p>
              <a href="{{ url_for('static', filename='img/portfolio/portfolio-6.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3">
                <i class="bx bx-plus"></i>
              </a>
              
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="{{ url_for('static', filename='img/portfolio/portfolio-7.jpg') }}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Card 1</h4>
              <p>Card</p>
              <a href="{{ url_for('static', filename='img/portfolio/portfolio-7.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1">
                <i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="{{ url_for('static', filename='img/portfolio/portfolio-8.jpg') }}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Card 3</h4>
              <p>Card</p>
              <a href="{{ url_for('static', filename='img/portfolio/portfolio-8.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3">
                <i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="{{ url_for('static', filename='img/portfolio/portfolio-9.jpg') }}" class="img-fluid" alt="">
            </div>
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <a href="{{ url_for('static', filename='img/portfolio/portfolio-9.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3">
                <i class="bx bx-plus"></i>
            </a>
            
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section>End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    


    <section id="FAQs" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
          <p>Here are some of the Frequently Asked Question addressing questions related to the intersection of cryptography, blockchain technology, and secure file sharing.</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1"> What is SwanShare based on Blockchain and Asymmetric Cryptography? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  SwanShare is a decentralized application (DApp) that leverages blockchain technology and asymmetric cryptography to facilitate secure and transparent sharing of digital assets, documents, or information among users. Asymmetric cryptography ensures that data remains confidential and tamper-proof, while blockchain provides a distributed and immutable ledger for transparent record-keeping.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">How does SwanShare ensure security? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  SwanShare uses asymmetric cryptography, including public and private key pairs, to secure communication between users. Each user has a unique pair of keys: a public key for encryption and a private key for decryption. This ensures that only intended recipients can access shared information.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Are transactions on SwanShare reversible? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Transactions recorded on the blockchain are typically irreversible. Once information is shared and recorded, it becomes part of the blockchain's permanent history. This immutability ensures the integrity of shared data.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Is the private key recoverable if lost? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  No, private keys are not recoverable through SwanShare. Users must ensure the safe storage of their private keys to maintain access to their shared information.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="500">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">How is data privacy maintained in SwanShare? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Data privacy is maintained through encryption and decryption processes using asymmetric cryptography. Only users with the correct private key can decrypt and access shared information.
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section>
    <section id="Contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Have thoughts, questions, or ideas about our content? We're eager to hear from you! Drop us a message, and we will be in touch to assist and engage in meaningful discussions. Your input matters to us!</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>IIT Guwahati, Guwahati, Assam</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>shawmishra@gmail.com</p>
              </div>

              

              <iframe src="https://www.google.com/maps/d/embed?mid=10kOD2TXBPY1qsMQfdF8AXlBxS0Q&hl=en_US&ehbc=2E312F"  frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form id="contact-form" class="php-email-form" action="javascript:void(0);">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="name">Your Name</label>
                        <input type="text" name="name" class="form-control" id="name" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="name">Your Email</label>
                        <input type="email" class="form-control" name="email" id="email" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name">Subject</label>
                    <input type="text" class="form-control" name="subject" id="subject" required>
                </div>
                <div class="form-group">
                    <label for="name">Message</label>
                    <textarea class="form-control" name="message" rows="10" required></textarea>
                </div>
                <div class="my-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
        </div>
        <script src="https://cdn.emailjs.com/dist/email.min.js"></script>
<script>
    (function() {
        emailjs.init("14OtPe9nRYafzQ_ak");
    })();
</script>
        <script>
            document.getElementById('contact-form').onsubmit = function(event) {
                event.preventDefault();
                var formData = new FormData(event.target);
                emailjs.sendForm('service_5q9m86n', 'template_5ojwu3k', formData)
                    .then(function(response) {
                        console.log('Email sent successfully:', response);
                        // Show success message
                        document.querySelector('.loading').style.display = 'none';
                        document.querySelector('.sent-message').style.display = 'block';
                    }, function(error) {
                        console.error('Email sending failed:', error);
                        // Show error message
                        document.querySelector('.loading').style.display = 'none';
                        document.querySelector('.error-message').style.display = 'block';
                    });
            };
        </script>
        
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>SwanShare</span></strong>. All Rights Reserved
      </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/waypoints/noframework.waypoints.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>


  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>